@model List<Combo>
@{
    var comboDetailList = ViewData["ComboDetailList"] as List<ComboDetail>;
    ViewData["Title"] = "Đặt tiệc";
}

<div class="container">
    <div class="party-top">
        <div class="party-header">
            Buổi tiệc khó quên cùng những món ngon
        </div>
        <div class="party-header-desc">
            Chúng tôi sẵn sàng phục vụ mọi buổi tiệc của bạn
        </div>
        <ul>
            <li>
                <img src="/assets/images/party1.png" alt="">
                <div class="text"></div>
            </li>
            <li>
                <img src="/assets/images/party2.png" alt="">
                <div class="text"></div>
            </li>
            <li>
                <img src="/assets/images/party3.png" alt="">
                <div class="text"></div>
            </li>
            <li>
                <img src="/assets/images/party4.png" alt="">
                <div class="text"></div>
            </li>
            <li>
                <img src="/assets/images/party5.png" alt="">
                <div class="text"></div>
            </li>
        </ul>
        <div class="order-button">
            <button>Đặt tiệc</button>
        </div>
    </div>
    <div class="party-middle">
        <div class="menu-title">
            Thực đơn
        </div>
        <div class="order-content">
            <div class="container">
                <div class="row">
                    @foreach(var obj in Model)
                    {
                        <div class="col-xxl-3">
                            <div class="promotion-box">
                                <div class="order-image">
                                    <img src="@obj.PictureUrl" alt="@obj.Description">
                                </div>
                                <div class="order-text">
                                    <div class="promotion-name">
                                        @obj.Name
                                    </div>
                                    <div class="promotion-price">
                                        @obj.Price.ToString("N0", System.Globalization.CultureInfo.InvariantCulture)đ / người
                                    </div>
                                    <ul class="menu-list">
                                        @foreach(var item in comboDetailList)
                                        {
                                            @if(obj.ComboId == item.ComboId)
                                            {
                                                <li>
                                                    1 @item.Menu.Name
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="party-last">
        <div class="party-title">
            Đặt tiệc
        </div>
        <div class="row">
            <div class="col-xxl-12">
                <div class="party-image">
                    <img src="assets/images/birthdaybanner.jpg" alt="">
                </div>
            </div>
        </div>
        <form>
            <div class="information">
                <div class="information-item">
                    <h3>Thông tin liên hệ</h3>
                    <div class="form-style">
                        <div class="form-group">
                            <label for="inp-name">Họ và tên bé</label><input type="text"
                                                                             class="form-control" name="childName" placeholder="Nhập họ và tên bé"
                                                                             value="">
                        </div>
                        <div class="form-group">
                            <label for="inp-nameOrder">
                                Họ và tên người đặt <span style="color:#a6192e;">
                                    (Bắt
                                    buộc)
                                </span>
                            </label><input type="text" class="form-control"
                                           name="fullName" placeholder="Nhập họ tên của bạn" value="">
                        </div>
                        <div class="form-group">
                            <label for="inp-phone">
                                Số điện thoại <span>
                                    (Bắt
                                    buộc)
                                </span>
                            </label><input type="tel" class="form-control" name="phone"
                                           placeholder="Nhập số điện thoại của bạn" value="">
                        </div>
                        <div class="form-group">
                            <label for="inp-email">
                                Email <span>
                                    (Bắt
                                    buộc)
                                </span>
                            </label><input type="tel" class="form-control" name="email"
                                           placeholder="Nhập email của bạn" value="">
                        </div>
                    </div>
                </div>
                <div class="information-item">
                    <h3>Thông tin buổi tiệc</h3>
                    <div class="form-style">
                        <div class="form-group">
                            <label>Loại tiệc</label>
                            <ul class="list-unstyled" id="delivery-time">
                                <li class="">
                                    <div class="custom-control custom-radio org-custom-radio TabInfo_radio__lSqIb">
                                        <input class="custom-control-input" type="radio" name="type"
                                               id="option3" value="BirthDay" checked=""><label class="custom-control-label" for="option3">
                                            Tiệc sinh
                                            nhật
                                        </label>
                                    </div>
                                </li>
                                <li class="">
                                    <div class="custom-control custom-radio org-custom-radio TabInfo_radio__lSqIb">
                                        <input class="custom-control-input" type="radio" name="type"
                                               id="option4" value="Party"><label class="custom-control-label"
                                                                                 for="option4">
                                            Tiệc liên
                                            hoan
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="date">Ngày tổ chức</label>
                            <div class="select-date-group">
                                <div class="select-item">
                                    <select class="custom-select org-custom-select"
                                            name="date">
                                        <option value="" disabled="" selected>Ngày</option>
                                        <option value="1"> 1 </option>
                                        <option value="2"> 2 </option>
                                        <option value="3"> 3 </option>
                                        <option value="4"> 4 </option>
                                        <option value="5"> 5 </option>
                                        <option value="6"> 6 </option>
                                        <option value="7"> 7 </option>
                                        <option value="8"> 8 </option>
                                        <option value="9"> 9 </option>
                                        <option value="10"> 10 </option>
                                        <option value="11"> 11 </option>
                                        <option value="12"> 12 </option>
                                        <option value="13"> 13 </option>
                                        <option value="14"> 14 </option>
                                        <option value="15"> 15 </option>
                                        <option value="16"> 16 </option>
                                        <option value="17"> 17 </option>
                                        <option value="18"> 18 </option>
                                        <option value="19"> 19 </option>
                                        <option value="20"> 20 </option>
                                        <option value="21"> 21 </option>
                                        <option value="22"> 22 </option>
                                        <option value="23"> 23 </option>
                                        <option value="24"> 24 </option>
                                        <option value="25"> 25 </option>
                                        <option value="26"> 26 </option>
                                        <option value="27"> 27 </option>
                                        <option value="28"> 28 </option>
                                        <option value="29"> 29 </option>
                                        <option value="30"> 30 </option>
                                        <option value="31"> 31 </option>
                                    </select>
                                </div>
                                <div class="select-item">
                                    <select class="custom-select org-custom-select"
                                            name="month">
                                        <option value="" disabled="" selected>Tháng</option>
                                        <option value="1"> 1 </option>
                                        <option value="2"> 2 </option>
                                        <option value="3"> 3 </option>
                                        <option value="4"> 4 </option>
                                        <option value="5"> 5 </option>
                                        <option value="6"> 6 </option>
                                        <option value="7"> 7 </option>
                                        <option value="8"> 8 </option>
                                        <option value="9"> 9 </option>
                                        <option value="10"> 10 </option>
                                        <option value="11"> 11 </option>
                                        <option value="12"> 12 </option>
                                    </select>
                                </div>
                                <div class="select-item">
                                    <select class="custom-select org-custom-select"
                                            name="year">
                                        <option value="" disabled="">Năm</option>
                                        <option value="2024"> 2024 </option>
                                        <option value="2025"> 2025 </option>
                                        <option value="2026"> 2026 </option>
                                        <option value="2027"> 2027 </option>
                                        <option value="2028"> 2028 </option>
                                        <option value="2029"> 2029 </option>
                                        <option value="2030"> 2030 </option>
                                        <option value="2031"> 2031 </option>
                                        <option value="2032"> 2032 </option>
                                        <option value="2033"> 2033 </option>
                                        <option value="2034"> 2034 </option>
                                        <option value="2035"> 2035 </option>
                                        <option value="2036"> 2036 </option>
                                        <option value="2037"> 2037 </option>
                                        <option value="2038"> 2038 </option>
                                        <option value="2039"> 2039 </option>
                                        <option value="2040"> 2040 </option>
                                        <option value="2041"> 2041 </option>
                                        <option value="2042"> 2042 </option>
                                        <option value="2043"> 2043 </option>
                                        <option value="2044"> 2044 </option>
                                        <option value="2045"> 2045 </option>
                                        <option value="2046"> 2046 </option>
                                        <option value="2047"> 2047 </option>
                                        <option value="2048"> 2048 </option>
                                        <option value="2049"> 2049 </option>
                                        <option value="2050"> 2050 </option>
                                        <option value="2051"> 2051 </option>
                                        <option value="2052"> 2052 </option>
                                        <option value="2053"> 2053 </option>
                                        <option value="2054"> 2054 </option>
                                        <option value="2055"> 2055 </option>
                                        <option value="2056"> 2056 </option>
                                        <option value="2057"> 2057 </option>
                                        <option value="2058"> 2058 </option>
                                        <option value="2059"> 2059 </option>
                                        <option value="2060"> 2060 </option>
                                        <option value="2061"> 2061 </option>
                                        <option value="2062"> 2062 </option>
                                        <option value="2063"> 2063 </option>
                                        <option value="2064"> 2064 </option>
                                        <option value="2065"> 2065 </option>
                                        <option value="2066"> 2066 </option>
                                        <option value="2067"> 2067 </option>
                                        <option value="2068"> 2068 </option>
                                        <option value="2069"> 2069 </option>
                                        <option value="2070"> 2070 </option>
                                        <option value="2071"> 2071 </option>
                                        <option value="2072"> 2072 </option>
                                        <option value="2073"> 2073 </option>
                                        <option value="2074"> 2074 </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="qty">Số lượng người tham dự</label><input type="number" class="form-control" name="qty"
                                                                                  placeholder="Nhập số lượng người tham dự" value="">
                        </div>
                        <div class="form-group">
                            <label for="inp-address">Địa điểm tổ chức</label>
                            <div class="select-group">
                                <div style="margin-bottom: 10px;">
                                    <select class="custom-select org-custom-select" name="province">
                                        <option value="" disabled="">Chọn thành phố</option>
                                        <option value="782" id="782">Thành phố Hà Nội</option>
                                        <option value="799" id="799">Tỉnh Bắc Ninh</option>
                                        <option value="801" id="801">Thành phố Hải Phòng</option>
                                        <option value="808" id="808">Tỉnh Nghệ An</option>
                                        <option value="812" id="812">Tỉnh Thừa Thiên Huế</option>
                                        <option value="813" id="813">Thành phố Đà Nẵng</option>
                                        <option value="825" id="825">Tỉnh Lâm Đồng</option>
                                        <option value="828" id="828">Tỉnh Bình Dương</option>
                                        <option value="829" id="829">Tỉnh Đồng Nai</option>
                                        <option value="831" id="831">Thành phố Hồ Chí Minh</option>
                                        <option value="839" id="839">Tỉnh Kiên Giang</option>
                                        <option value="840" id="840">Thành phố Cần Thơ</option>
                                    </select>
                                </div>
                                <div style="margin-bottom: 10px;">
                                    <select class="custom-select org-custom-select" name="district">
                                        <option value="" disabled="">Chọn quận/huyện</option>
                                    </select>
                                </div>
                                <div>
                                    <select class="custom-select org-custom-select" name="store">
                                        <option value="" disabled="">Cửa hàng gà rán popeyes</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inp-note">Ghi chú</label><input type="tel"
                                                                        class="form-control" name="note" placeholder="Nhập ghi chú cho bữa tiệc"
                                                                        value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-submit">
                <button class="Information_btn-booking__6vkfR" type="submit">
                    Xác nhận đặt
                    tiệc
                </button>
            </div>
        </form>
    </div>
</div>