@model List<Bill>
@{
    var currentPage = ViewData["CurrentPage"] as int?;
    var totalPages = ViewData["TotalPages"] as int?;
    var totalSum = ViewData["TotalSum"] as double?;
    var totalCount = ViewData["TotalCount"] as int?;
    var unpaidSum = ViewData["UnpaidSum"] as double?;
    var paidSum = ViewData["PaidSum"] as double?;
    var unpaidCount = ViewData["UnpaidCount"] as int?;
    var paidCount = ViewData["PaidCount"] as int?;
    ViewData["Title"] = "Quản lý đơn hàng";
}

<div class="statistics-table">
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="static-element">
                <div class="content-element">
                    <div class="title-element">
                        Đã thanh toán
                    </div>
                    <div class="price-element">
                        @paidSum đ
                    </div>
                    <div class="quantity-element">
                        @paidCount đơn
                    </div>
                </div>
                <div class="icon-element">
                    <i class="fa-solid fa-chart-simple"></i>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="static-element">
                <div class="content-element">
                    <div class="title-element">
                        Chưa thanh toán
                    </div>
                    <div class="price-element">
                        @unpaidSum đ
                    </div>
                    <div class="quantity-element">
                        @unpaidCount đơn
                    </div>
                </div>
                <div class="icon-element">
                    <i class="fa-solid fa-chart-simple"></i>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="static-element">
                <div class="content-element">
                    <div class="title-element">
                        Tổng
                    </div>
                    <div class="price-element">
                        @totalSum đ
                    </div>
                    <div class="quantity-element">
                        @totalCount đơn
                    </div>
                </div>
                <div class="icon-element">
                    <i class="fa-solid fa-dollar-sign"></i>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="static-element">
                <div class="content-element">
                    <div class="title-element">
                        Refresh
                    </div>
                    <div class="price-element">
                        Refresh
                    </div>
                    <div class="quantity-element">
                        Load đơn hàng mới nhất
                    </div>
                </div>
                <div class="icon-element">
                    <i class="fa-solid fa-rotate-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-sm-flex align-items-center justify-content-between">
    <div class="btn-wrapper">
        <div class="select">
            <select class="choose ward">
                <option value="" disabled selected>Thanh toán</option>
                <option value="1">Chưa thanh toán</option>
                <option value="0">Đã thanh toán</option>
            </select>
        </div>
        <div class="select">
            <select class="choose ward">
                <option value="" disabled selected>Tình trạng</option>
                <option value="1">Đơn hàng mới</option>
                <option value="2">Đang chuẩn bị</option>
                <option value="3">Đã hoàn thành</option>
            </select>
        </div>
        <a class="btn btn-danger text-white delete-multi"><i class="fa-solid fa-minus"></i> Xóa nhiều</a>
    </div>
    <div class="filter">
        <input type="text" placeholder="Filter mã đơn" name="object-id">
        <input type="text" placeholder="Filter số điện thoại" name="object-name">
        <a id="filterButton" class="btn btn-primary text-white me-0 search"><i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm</a>
    </div>
</div>
<div class="table-sorter-wrapper">
    <table id="myTable" class="table table-hover">
        <thead>
            <tr>
                <th class="sortStyle"><input type="checkbox" name="checkboxInputAll"></th>
                <th class="sortStyle">Mã đơn</th>
                <th class="sortStyle">Liên hệ</th>
                <th class="sortStyle">Ngày tạo</th>
                <th class="sortStyle">Tổng tiền</th>
                <th class="sortStyle">Thanh toán</th>
                <th class="sortStyle">Tình trạng</th>
                <th class="sortStyle"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="checkboxInputId" data-id="@obj.BillId">
                    </td>
                    <td>@obj.BillId</td>
                    <td>
                        <div class="contact">
                            <div class="name">@obj.ClientName</div>
                            <div class="phone">@obj.ClientPhoneNumber</div>
                        </div>
                    </td>
                    <td>@obj.CreatedDate</td>
                    <td>@obj.TotalPrice đ </td>
                    <td>
                        <div class="payment">
                            @if (obj.PaymentStatus) {
                                <div class="status">Chưa thanh toán <i class="fa-solid fa-circle-check"></i></div>
                            }
                            else {
                                <div class="status">Đã thanh toán <i class="fa-solid fa-circle-check" style="color:#41ab5d;"></i></div>
                            }
                            <div class="payment-status">
                                @obj.PaymentMethod
                            </div>
                        </div>
                    </td>
                    <td>
                        @if(obj.Status == 1)
                        {
                            <button type="button" class="btn btn-primary">Đơn hàng mới</button>
                        }
                        else if (obj.Status == 2)
                        {
                            <button type="button" class="btn btn-warning">Đang chuẩn bị</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-success">Thành công</button>
                        }
                    </td>
                    <td>
                        <div class="function">
                            <a asp-controller="Bill" asp-action="Edit" asp-route-id="@obj.BillId" class="edit">
                                <i class="fa-regular fa-eye"></i>
                            </a>
                            <a data-id="@obj.BillId" id="delete">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>
<div class="pagination-item">
    <ul class="pagination">
        <li class="page-item @(currentPage == 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { pageNumber = currentPage - 1 })">Previous</a>
        </li>

        @for (int i = 1; i <= totalPages; i++)
        {
            <li class="page-item @(currentPage == i ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { pageNumber = i })">@i</a>
            </li>
        }

        <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { pageNumber = currentPage + 1 })">Next</a>
        </li>
    </ul>
</div>