@{
    var toBuyList = ViewData["ToBuyList"] as List<Combo>;
    var suggestList = ViewData["SuggestList"] as List<Menu>;
    var selectedStore = ViewData["SelectedStore"] as Store;
    ViewData["Title"] = "Giỏ hàng";
}

<div class="container">
    <form action="">
        <div class="row">
            <div class="col-xxl-7">
                <div class="cart-content">
                    <div class="cart-content-header">
                        <div class="cart-header-title">
                            <b>GIỎ HÀNG CỦA BẠN</b> (1 SẢN PHẨM)
                        </div>
                        <button>
                            + Thêm món ăn
                        </button>
                    </div>
                    <div class="cart-list">
                        @foreach(var obj in toBuyList)
                        {
                            <div class="cart-list-item">
                                <div class="cart-list-left">
                                    <a href="">
                                        <img src="@obj.PictureUrl" alt="">
                                    </a>
                                    <div class="cart-list-info">
                                        <a class="cart-info-name">
                                            @obj.Name
                                        </a>
                                        <div class="cart-info-desc">
                                            1 x @obj.Name
                                        </div>
                                        <div class="cart-info-price">
                                            @obj.Price.ToString("N0", System.Globalization.CultureInfo.InvariantCulture) đ
                                        </div>
                                    </div>
                                </div>
                                <div class="cart-list-right">
                                    <div class="cart-list-quantity">
                                        <ul>
                                            <li class="minus">
                                                -
                                            </li>
                                            <li class="quantity">
                                                1
                                            </li>
                                            <li class="plus">
                                                +
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="cart-info-delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="cart-suggest">
                        <div class="cart-suggest-title">
                            <b>NGON HƠN KHI ĂN KÈM</b>
                        </div>
                        <div class="slideshow-suggest slick-arrow-square">
                            @foreach(var obj in suggestList)
                            {
                                @if (obj.CategoryId.Equals("CT0000000004        ") || obj.CategoryId.Equals("CT0000000007        "))
                                {
                                    <a href="/" class="suggest-item">
                                        <img src="@obj.PictureUrl" alt="menu1">
                                        <div class="suggest-name">@obj.Name</div>
                                        <div class="suggest-price">
                                            @obj.Price.ToString("N0", System.Globalization.CultureInfo.InvariantCulture) đ
                                        </div>
                                        <div class="suggest-list-quantity">
                                            <ul>
                                                <li class="minus">
                                                    -
                                                </li>
                                                <li class="quantity">
                                                    1
                                                </li>
                                                <li class="plus">
                                                    +
                                                </li>
                                            </ul>
                                        </div>
                                        <button class="suggest-update">
                                            Cập nhật
                                        </button>
                                    </a>
                                }
                            }
                            
                        </div>
                    </div>
                    <div class="cart-note">
                        <label for="">Ghi chú cho đơn hàng</label>
                        <input type="text" placeholder="Vui lòng thêm lưu ý cho cửa hàng">
                    </div>
                </div>
            </div>
            <div class="col-xxl-5">
                <div class="cart-right">
                    <div class="cart-user">
                        <div class="cart-ship">
                            Giao hàng đến
                        </div>
                        <div class="cart-add">
                            <div class="cart-address">
                                123 Nguyễn Thị Thập P12 Quan 7, Ho Chi Minh
                            </div>
                            <div class="cart-address-edit">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </div>
                        </div>
                        <div class="cart-store">
                            Cửa hàng: @selectedStore.Name
                        </div>
                        <div class="line-dot"></div>
                        <div class="time">
                            Thời gian tiếp nhận đơn hàng từ @selectedStore.OpeningHour?.ToString(@"hh\:mm") đến @selectedStore.ClosingTime?.ToString(@"hh\:mm") hằng ngày
                        </div>
                    </div>
                    <div class="cart-select">
                        <div class="cart-select-title">
                            Tùy chọn
                        </div>
                        <ul>
                            <li>
                                <input type="checkbox" value="">
                                <label for="">Dụng cụ ăn uống</label>
                            </li>
                            <li>
                                <input type="checkbox" value="">
                                <label for="">Tương cà</label>
                            </li>
                            <li>
                                <input type="checkbox" value="">
                                <label for="">Tương ớt</label>
                            </li>
                        </ul>
                    </div>
                    <div class="cart-submit">
                        <div class="cart-total">
                            <div class="cart-text">
                                Tổng cộng
                            </div>
                            <div class="cart-total-price">
                                145.000 đ
                            </div>
                        </div>
                        <div class="cart-button">
                            Tiếp tục
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>