@{
    var toBuyList = ViewData["ToBuyList"] as List<Combo>;
    var suggestList = ViewData["SuggestList"] as List<Menu>;
    var selectedStore = ViewData["SelectedStore"] as Store;
    var cartList = ViewData["CartList"] as List<CartItem>;
    var totalPrice = ViewData["TotalPrice"] as double?;
    ViewData["Title"] = "Giỏ hàng";
}

<div class="container">
    <form id="cartSubmit" asp-area="Client" asp-controller="Cart" asp-action="UpdateBill" method="POST">
        <div class="row">
            <div class="col-xxl-7">
                <div class="cart-content">
                    <div class="cart-content-header">
                        <div class="cart-header-title">
                            <b>GIỎ HÀNG CỦA BẠN</b> (1 SẢN PHẨM)
                        </div>
                        <button asp-area="Client" asp-controller="Menu" asp-action="Index">
                            + Thêm món ăn
                        </button>
                    </div>
                    <div class="cart-list">
                        @foreach (var obj in cartList)
                        {
                            <div class="cart-list-item">
                                <div class="cart-list-left">
                                    <a href="">
                                        <img src="@obj.Menu.PictureUrl" alt="">
                                    </a>
                                    <div class="cart-list-info">
                                        <a class="cart-info-name">
                                            @obj.Name
                                        </a>
                                        <div class="cart-info-desc">
                                            @obj.Quantity x @obj.Name
                                        </div>
                                        <div class="cart-info-price">
                                            @obj.Price.ToString("N0", System.Globalization.CultureInfo.InvariantCulture) đ
                                        </div>
                                    </div>
                                </div>
                                <div class="cart-list-right">
                                    <div class="cart-list-quantity">
                                        <ul>
                                            <li class="minus">
                                                <form asp-area="Client" asp-controller="Cart" asp-action="UpdateCartMinus" asp-route-id="@obj.CartId" method="POST">
                                                    <button type="submit" style="border:none; background-color:transparent; color:white;">-</button>
                                                </form>
                                            </li>
                                            <li class="quantity">
                                                @obj.Quantity   
                                            </li>
                                            <li class="plus">
                                                <form asp-area="Client" asp-controller="Cart" asp-action="UpdateCartPlus" asp-route-id="@obj.CartId" method="POST">
                                                    <button type="submit" style="border:none; background-color:transparent; color:white;">+</button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="cart-info-delete">
                                        <form asp-area="Client" asp-controller="Cart" asp-action="DeleteCartItem" asp-route-id="@obj.CartId" method="POST">
                                            <button type="submit" style="border:none; background-color:transparent; color:white;"><i class="fa-solid fa-trash"></i></button>
                                        </form>                       
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="cart-suggest">
                        <div class="cart-suggest-title">
                            <b>NGON HƠN KHI ĂN KÈM</b>
                        </div>
                        <div class="slideshow-suggest slick-arrow-square">
                            @foreach(var obj in suggestList)
                            {
                                @if (obj.CategoryId.Equals("CT0000000004        ") || obj.CategoryId.Equals("CT0000000007        "))
                                {
                                    <a href="/" class="suggest-item">
                                        <img src="@obj.PictureUrl" alt="menu1">
                                        <div class="suggest-name">@obj.Name</div>
                                        <div class="suggest-price">
                                            @obj.Price.ToString("N0", System.Globalization.CultureInfo.InvariantCulture) đ
                                        </div>
                                        <div class="suggest-list-quantity">
                                            <ul>
                                                <li class="minus">
                                                    -
                                                </li>
                                                <li class="quantity">
                                                    1
                                                </li>
                                                <li class="plus">
                                                    +
                                                </li>
                                            </ul>
                                        </div>
                                        <button class="suggest-update">
                                            Cập nhật
                                        </button>
                                    </a>
                                }
                            }
                            
                        </div>
                    </div>
                    <div class="cart-note">
                        <label for="">Ghi chú cho đơn hàng</label>
                        <input type="text" name="Note" placeholder="Vui lòng thêm lưu ý cho cửa hàng">
                    </div>
                </div>
            </div>
            <div class="col-xxl-5">
                <div class="cart-right">
                    <div class="cart-user">
                        <div class="cart-ship">
                            Giao hàng đến
                        </div>
                        <div class="cart-add">
                            <div class="cart-address" style="width:100%; flex:1;">
                                <input type="text" name="Address" value="123 Nguyễn Thị Thập P12 Quan 7, Ho Chi Minh" style="outline:none; width:90%; border:none;" />
                            </div>
                            <div class="cart-address-edit">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </div>
                        </div>
                        <div class="cart-store">
                            Cửa hàng: @selectedStore.Name
                        </div>
                        <div class="line-dot"></div>
                        <div class="time">
                            Thời gian tiếp nhận đơn hàng từ @selectedStore.OpeningHour?.ToString(@"hh\:mm") đến @selectedStore.ClosingTime?.ToString(@"hh\:mm") hằng ngày
                        </div>
                    </div>
                    <div class="cart-select">
                        <div class="cart-select-title">
                            Tùy chọn
                        </div>
                        <ul>
                            <li>
                                <input type="checkbox" value="">
                                <label for="">Dụng cụ ăn uống</label>
                            </li>
                            <li>
                                <input type="checkbox" value="">
                                <label for="">Tương cà</label>
                            </li>
                            <li>
                                <input type="checkbox" value="">
                                <label for="">Tương ớt</label>
                            </li>
                        </ul>
                    </div>
                    <div class="cart-submit">
                        <div class="cart-user-info" style="display:flex; align-items:center; flex-direction:column;">
                            <input type="text" name="ClientName" placeholder="Nhập tên khách hàng" style="width:100%; margin-top:10px; margin-bottom:10px; outline:none; padding:15px; border:none;"/>
                            <input type="text" name="ClientPhoneNumber" placeholder="Nhập số điện thoại" style="width:100%; margin-top:10px; margin-bottom:10px; outline:none; padding:15px; border:none;" />
                            <input type="text" name="ClientEmail" placeholder="Nhập email" style="width:100%; margin-top:10px; margin-bottom:10px; outline:none; padding:15px; border:none;" />
                        </div>
                        <div class="cart-total">
                            <div class="cart-text">
                                Tổng cộng
                            </div>
                            <div class="cart-total-price">
                                <input type="hidden" name="TotalPrice" value="@totalPrice" />
                                @totalPrice đ
                            </div>
                        </div>
                        <button type="submit" class="cart-button" style="border:none; width:100%;">
                            Tiếp tục
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

