@model List<Combo>
@{
    ViewData["Title"] = "Trang chủ";
}

<!-- Slider -->
<div class="slideshow slick-arrow-square">
    @foreach(var obj in Model)
    {
        <div class="slick-slide">
            <div class="slide-content">
                <a href="/">
                    <img src="@obj.PictureUrl" alt="slide1">
                </a>
            </div>
        </div>
    }
</div>
<!-- End Slider -->
<!-- Order Bar -->
<div class="order-bar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="order-method">
                    <button>Giao hàng tận nơi</button>
                    <button>Đặt đến lấy</button>
                </div>
                <div class="order-address">
                    <input type="text" placeholder="Vui lòng nhập địa chỉ">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Order Bar -->
<!-- Order Content -->
<div class="order-content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul>
                    <li>
                        Món ngon phải thử
                    </li>
                    <li>
                        Khuyến mãi
                    </li>
                </ul>
            </div>
        </div>
        <div class="order-list">
            <div class="row justify-content-center">
                @foreach(var obj in Model)
                {
                    <div class="col-xxl-3">
                        <div class="order-box">
                            <div class="order-image">
                                <img src="@obj.PictureUrl" alt="@obj.Name">
                            </div>
                            <div class="order-text">
                                <div class="order-name">
                                    @obj.Name
                                </div>
                                <div class="order-price">
                                    @obj.Price.ToString("N0", System.Globalization.CultureInfo.InvariantCulture) đ
                                </div>
                                <div class="order-add" data-id="@obj.ComboId">
                                    Thêm vào giỏ hàng
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="button">
            <a asp-area="Client" asp-controller="Promotion" asp-action="Index">Xem thêm thực đơn</a>
        </div>
    </div>
</div>