@model List<Party>
@{
    var currentPage = ViewData["CurrentPage"] as int?;
    var totalPages = ViewData["TotalPages"] as int?;
    ViewData["Title"] = "Quản lý tiệc";
}

<div class="page-title">
    Quản lý đặt tiệc
</div>
<div class="d-sm-flex align-items-center justify-content-between">
    <div class="btn-wrapper">
        <div class="select">
            <select class="choose">
                <option value="" disabled selected>Loại tiệc</option>
            </select>
        </div>
        <a class="btn btn-danger text-white delete-multi"><i class="fa-solid fa-minus"></i> Xóa nhiều</a>
    </div>
    <div class="filter">
        <input type="text" placeholder="Filter mã tiệc" name="object-id">
        <input type="text" placeholder="Filter số điện thoại" name="object-name">
        <a id="filterButton" class="btn btn-primary text-white me-0 search"><i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm</a>
    </div>
</div>
<div class="table-sorter-wrapper">
    <table id="myTable" class="table table-hover">
        <thead>
            <tr>
                <th class="sortStyle"><input type="checkbox" name="checkboxInputAll"></th>
                <th class="sortStyle">Mã tiệc</th>
                <th class="sortStyle">Thông tin người đặt</th>
                <th class="sortStyle">Chủ tiệc</th>
                <th class="sortStyle">Email</th>
                <th class="sortStyle">Loại tiệc</th>
                <th class="sortStyle">Ngày tổ chức</th>
                <th class="sortStyle"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="checkboxInputId" data-id="@obj.PartyId">
                    </td>
                    <td>@obj.PartyId</td>
                    <td>
                        <div class="contact">
                            <div class="name">@obj.BookingName</div>
                            <div class="phone">@obj.PhoneNumber</div>
                        </div>
                    </td>
                    <td>@obj.ClientName</td>
                    <td>@obj.Email</td>
                    @if(obj.Type)
                    {
                        <td>Sinh nhật</td>
                    }
                    else
                    {
                        <td>Liên hoan</td>
                    }
                    <td>@obj.PartyDate</td>
                    <td>
                        <div class="function">
                            <a asp-controller="Party" asp-action="Edit" asp-route-id="@obj.PartyId" class="edit">
                                <i class="fa-regular fa-eye"></i>
                            </a>
                            <a data-id="@obj.PartyId" id="delete">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="pagination-item">
    <ul class="pagination">
        <li class="page-item @(currentPage == 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { pageNumber = currentPage - 1 })">Previous</a>
        </li>

        @for (int i = 1; i <= totalPages; i++)
        {
            <li class="page-item @(currentPage == i ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { pageNumber = i })">@i</a>
            </li>
        }

        <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { pageNumber = currentPage + 1 })">Next</a>
        </li>
    </ul>
</div>