@model List<Store>
@{
    var currentPage = ViewData["CurrentPage"] as int?;
    var totalPages = ViewData["TotalPages"] as int?;
    ViewData["Title"] = "Quản lý chi nhánh" as string;
}

<div class="page-title">
    Quản lý cửa hàng
</div>
<div class="d-sm-flex align-items-center justify-content-between">
    <div class="btn-wrapper" id="filterAddress">
        <div class="select">
            <select class="choose city" name="city" id="city">
                <option value="" disabled selected>Thành phố</option>
            </select>
        </div>
        <div class="select">
            <select class="choose district" name="district" id="district">
                <option value="" disabled selected>Quận/huyện/thị xã</option>
            </select>
        </div>
        <div class="select">
            <select class="choose ward" name="ward" id="ward">
                <option value="" disabled selected>Phường/Xã</option>
            </select>
        </div>
        <a asp-controller="Store" asp-action="Create" class="btn btn-success text-white plus"><i class="fa-solid fa-plus"></i> Thêm</a>
        <a class="btn btn-danger text-white delete-multi"><i class="fa-solid fa-minus"></i> Xóa nhiều</a>
    </div>
    <form class="filter" method="POST">
        <input type="text" placeholder="Filter mã cửa hàng" name="object_id">
        <input type="hidden" name="city">
        <input type="hidden" name="district">
        <input type="hidden" name="ward">
        <a id="filterButton" class="btn btn-primary text-white me-0 search"><i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm</a>
    </form>
</div>
<div class="table-sorter-wrapper">
    <table id="myTable" class="table table-hover">
        <thead>
            <tr>
                <th class="sortStyle"><input type="checkbox" name="checkboxInputAll"></th>
                <th class="sortStyle">Mã cửa hàng</th>
                <th class="sortStyle">Địa chỉ</th>
                <th class="sortStyle">Phường/Xã</th>
                <th class="sortStyle">Quận/Huyện/Thị Xã</th>
                <th class="sortStyle">Thành phố</th>
                <th class="sortStyle">Hotline</th>
                <th class="sortStyle"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="checkboxInputId" data-id="@obj.StoreId">
                    </td>
                    <td>@obj.StoreId</td>
                    <td>@obj.Address</td>
                    <td>@obj.Ward</td>
                    <td>@obj.District</td>
                    <td>@obj.City</td>
                    <td>@obj.Hotline</td>
                    <td>
                        <div class="function">
                            <a asp-controller="Store" asp-action="Edit" asp-route-id="@obj.StoreId" class="edit">
                                <i class="fa-regular fa-eye"></i>
                            </a>
                            <a data-id="@obj.StoreId" id="delete">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="pagination-item">
    <ul class="pagination">
        <li class="page-item @(currentPage == 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { pageNumber = currentPage - 1 })">Previous</a>
        </li>

        @for (int i = 1; i <= totalPages; i++)
        {
            <li class="page-item @(currentPage == i ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { pageNumber = i })">@i</a>
            </li>
        }

        <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { pageNumber = currentPage + 1 })">Next</a>
        </li>
    </ul>
</div>