@{
    var categoryList = ViewData["CategoryList"] as List<Category>;
    var comboList = ViewData["ComboList"] as List<Combo>;
    var menuList = ViewData["MenuList"] as List<Menu>;
    var uniqueCategoryList = ViewData["UniqueCategory"] as List<Category>;
    ViewData["Title"] = "Thực đơn";
}


<!-- Slider -->
<div class="category-menu">
    <div class="container">
        <div class="slideshow-menu slick-arrow-square">
            @foreach(var obj in categoryList)
            {
                <div class="slick-slide">
                    <div class="slide-content">
                        <a href="/">
                            <img src="@obj.PictureUrl" alt="menu1">
                            <div class="slide-text">@obj.Name</div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="menu-content">
    <div class="order-content">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="menu-title">
                        Ưu đãi hôm nay
                    </div>
                </div>
                @foreach(var obj in comboList)
                {
                    <div class="col-xxl-3">
                        <div class="promotion-box">
                            <div class="order-image">
                                <img src="@obj.PictureUrl" alt="">
                            </div>
                            <div class="order-text">
                                <div class="promotion-name">
                                    @obj.Name
                                </div>
                                <div class="order-button">
                                    <button>Đặt hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="button" style="margin-top:0;">
                <a asp-area="Client" asp-controller="Promotion" asp-action="Index">Xem thêm thực đơn</a>
            </div>
            <div class="col-xxl-12 d-flex justify-content-center">
                <div class="line"></div>
            </div>
        </div>
    </div>
    @foreach(var obj1 in uniqueCategoryList)
    {
        <div class="order-content">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="menu-title">
                            @obj1.Name
                        </div>
                    </div>
                    @foreach (var obj2 in menuList)
                    {
                        @if (obj2.CategoryId == obj1.CategoryId)
                        {
                            <div class="col-xxl-3">
                                <div class="promotion-box">
                                    <div class="order-image">
                                        <img src="@obj2.PictureUrl" alt="">
                                    </div>
                                    <div class="order-text">
                                        <div class="promotion-name">
                                            @obj2.Name
                                        </div>
                                        <div class="order-button">
                                            <form asp-area="Client" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@obj2.MenuId" method="POST">
                                                <button type="submit">Đặt hàng</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="button" style="margin-top:0;">
                    <a asp-area="Client" asp-controller="Menu" asp-action="DetailCategory" asp-route-id="@obj1.CategoryId">Xem thêm thực đơn</a>
                </div>
                <div class="col-xxl-12 d-flex justify-content-center">
                    <div class="line"></div>
                </div>
            </div>
        </div>
    }
</div>
<!-- End Slider -->
