@model List<Store>
@{
    ViewData["Title"] = "Chi nhánh";
}

<div class="container">
    <div class="store-label">
        HỆ THỐNG NHÀ HÀNG CHICKEN SPICY
    </div>
    <div class="row">
        <div class="col-xxl-12">
            <div id="map"></div>
        </div>
    </div>
    <div class="store-function">
        <div class="select-store">
            <select name="city" id="city">
                <option value="default" disabled selected>Tỉnh / Thành phố</option>
                <option value="HoChiMinh">Hồ Chí Minh</option>
                <option value="HaNoi">Hà Nội</option>
                <option value="DaNang">Đà Nẵng</option>
                <option value="TraVinh">Trà Vinh</option>
                <option value="BenTre">Bến Tre</option>
            </select>
        </div>
        <div class="select-store">
            <select name="district" id="district">
                <option value="default" disabled selected>Quận / Huyện</option>
                <option value="District1">Quận 1</option>
                <option value="District3">Quận 3</option>
                <option value="District5">Quận 5</option>
                <option value="District7">Quận7</option>
                <option value="District11">Quận 11</option>
            </select>
        </div>
        <button class="select-button">
            <i class="fa-solid fa-magnifying-glass"></i>
            <div class="select-text">Tìm kiếm</div>
        </button>
    </div>
    <div class="store-list">
        <div class="row">
            @foreach(var obj in Model)
            {
                <div class="col-xxl-6">
                    <div class="store">
                        <div class="store-title">
                            @obj.Name
                        </div>
                        <div class="store-address">
                            Địa chỉ: <b>@obj.Address Phường @obj.Ward Quận @obj.District</b>
                        </div>
                        <ul>
                            <li>
                                <img src="https://mcdonalds.vn/uploads/2018/icon/36xNxparking.png.pagespeed.ic.1-5cm8dHDE.webp" alt="">
                            </li>
                            <li>
                                <img src="https://mcdonalds.vn/uploads/2018/icon/36xNxwifi.png.pagespeed.ic.w3G3FEY1e3.webp" alt="">
                            </li>
                            <li>
                                <img src="https://mcdonalds.vn/uploads/2018/icon/xhappymeal.png.pagespeed.ic.X7iYjdKJyt.webp" alt="">
                            </li>
                            <li>
                                <img src="https://mcdonalds.vn/uploads/2018/icon/xdelivery.png.pagespeed.ic.DpKWIX99Qe.webp" alt="">
                            </li>
                        </ul>
                        <div class="store-bottom">
                            <div class="store-left">
                                <div class="store-time">
                                    Giờ mở cửa: <b>@obj.OpeningHour?.ToString(@"hh\:mm") - @obj.ClosingTime?.ToString(@"hh\:mm")</b>
                                </div>
                                <div class="store-phone">
                                    Số điện thoại: <b>@obj.Hotline</b>
                                </div>
                            </div>
                            <button>
                                <i class="fa-solid fa-location-dot"></i>
                                <div class="context">
                                    Google Maps
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>