@model List<Bill>
@{
    var today = ViewData["Today"] as string;
    var thisWeekSum = ViewData["ThisWeekSum"] as double?;
    var thisWeekCount = ViewData["ThisWeekCount"] as int?;
    var thisMonthSum = ViewData["ThisMonthSum"] as double?;
    var thisMonthCount = ViewData["ThisMonthCount"] as int?;
    ViewData["Title"] = "Trang chủ";
}

<div class="dashboard-info">
    <div class="hello">Xin chào!</div>
    <div class="date">@today</div>
    <div class="desc">Thống kê các đơn hàng đã được thanh toán</div>
</div>
<div class="statistics-table">
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="static-element">
                <div class="content-element">
                    <div class="title-element">
                        Tuần này
                    </div>
                    <div class="price-element">
                        @thisWeekSum đ
                    </div>
                </div>
                <div class="icon-element">
                    <i class="fa-solid fa-dollar-sign"></i>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="static-element">
                <div class="content-element">
                    <div class="title-element">
                        Tháng này
                    </div>
                    <div class="price-element">
                        @thisMonthSum đ
                    </div>
                </div>
                <div class="icon-element">
                    <i class="fa-solid fa-dollar-sign"></i>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="static-element">
                <div class="content-element">
                    <div class="title-element">
                        Đơn tuần này
                    </div>
                    <div class="price-element">
                        @thisWeekCount đơn
                    </div>
                </div>
                <div class="icon-element">
                    <i class="fa-solid fa-chart-simple"></i>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="static-element">
                <div class="content-element">
                    <div class="title-element">
                        Đơn tháng này
                    </div>
                    <div class="price-element">
                        @thisMonthCount đơn
                    </div>
                </div>
                <div class="icon-element">
                    <i class="fa-solid fa-chart-simple"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dashboard-content">
    <div class="dashboard-top">
        <div class="dashboard-title">
            <div class="up">Đơn hàng</div>
            <div class="down">Đơn hàng gần đây của cửa hàng</div>
        </div>
        <div class="all">
            <button type="button" class="btn btn-primary">Tất cả <i class="fa-solid fa-arrow-up-right-from-square"></i></button>
        </div>
    </div>
    <div class="table-sorter-wrapper">
        <table id="myTable" class="table table-hover">
            <thead>
                <tr>
                    <th class="sortStyle">Mã đơn</th>
                    <th class="sortStyle">Liên hệ</th>
                    <th class="sortStyle">Ngày tạo</th>
                    <th class="sortStyle">Tổng tiền</th>
                    <th class="sortStyle">Thanh toán</th>
                    <th class="sortStyle">Tình trạng</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var obj in Model)
                {
                    <tr>
                        <td>@obj.BillId</td>
                        <td>
                            <div class="contact">
                                <div class="name">@obj.ClientName</div>
                                <div class="phone">@obj.ClientPhoneNumber</div>
                            </div>
                        </td>
                        <td>@obj.CreatedDate</td>
                        <td>@obj.TotalPrice đ</td>
                        <td>
                            <div class="payment">
                                @if (obj.PaymentStatus)
                                {
                                    <div class="status">Chưa thanh toán <i class="fa-solid fa-circle-check"></i></div>
                                }
                                else
                                {
                                    <div class="status">Đã thanh toán <i class="fa-solid fa-circle-check" style="color:#41ab5d;"></i></div>
                                }
                                <div class="payment-status">
                                    @obj.PaymentMethod
                                </div>
                            </div>
                        </td>
                        <td>
                            @if (obj.Status == 1)
                            {
                                <button type="button" class="btn btn-primary">Đơn hàng mới</button>
                            }
                            else if (obj.Status == 2)
                            {
                                <button type="button" class="btn btn-warning">Đang chuẩn bị</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-success">Thành công</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>