@model List<Voucher>
@{
    var currentPage = ViewData["CurrentPage"] as int?;
    var totalPages = ViewData["TotalPages"] as int?;
    ViewData["Title"] = "Quản lý voucher";
}

<div class="page-title">
    Quản lý vouchers
</div>
<div class="d-sm-flex align-items-center justify-content-between">
    <div class="btn-wrapper">
        <div class="select">
            <select class="choose">
                <option value="" disabled selected>Tình trạng</option>
            </select>
        </div>
        <a asp-controller="Combo" asp-action="Create" class="btn btn-success text-white plus"><i class="fa-solid fa-plus"></i> Thêm</a>
        <a class="btn btn-danger text-white delete-multi"><i class="fa-solid fa-minus"></i> Xóa nhiều</a>
    </div>
    <div class="filter">
        <input type="text" placeholder="Filter mã voucher" name="object-id">
        <a id="filterButton" class="btn btn-primary text-white me-0 search"><i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm</a>
    </div>
</div>
<div class="table-sorter-wrapper">
    <table id="myTable" class="table table-hover">
        <thead>
            <tr>
                <th class="sortStyle"><input type="checkbox" name="checkboxInputAll"></th>
                <th class="sortStyle">Mã voucher</th>
                <th class="sortStyle">Miêu tả</th>
                <th class="sortStyle">Giảm giá</th>
                <th class="sortStyle">Lượt sử dụng</th>
                <th class="sortStyle">Tình trạng</th>
                <th class="sortStyle"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="checkboxInputId" data-id="@obj.VoucherId">
                    </td>
                    <td>@obj.VoucherId</td>
                    <td>@obj.Description</td>
                    <td style="font-weight: bold;">@obj.DiscountPercentage %</td>
                    <td>@obj.MaximumUsed</td>
                    <td>
                        @if(obj.Status)
                        {
                            <button type="button" class="btn btn-success">Hoạt động</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-danger">Không hoạt động</button>
                        }
                    </td>
                    <td>
                        <div class="function">
                            <a asp-controller="Voucher" asp-action="Edit" asp-route-id="@obj.VoucherId" class="edit">
                                <i class="fa-regular fa-eye"></i>
                            </a>
                            <a data-id="@obj.VoucherId" id="delete">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="pagination-item">
    <ul class="pagination">
        <li class="page-item @(currentPage == 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { pageNumber = currentPage - 1 })">Previous</a>
        </li>

        @for (int i = 1; i <= totalPages; i++)
        {
            <li class="page-item @(currentPage == i ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { pageNumber = i })">@i</a>
            </li>
        }

        <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { pageNumber = currentPage + 1 })">Next</a>
        </li>
    </ul>
</div>